ion-content{
  --ion-background-color: 	#f0ffff;
}

ion-title{
  text-align: center;
  font-size: large;
}


ion-button{
  font-weight: bold;
}


  
  .subtitle{
    margin-top: 0rem;
    margin-bottom: 1rem;
    // padding: auto;
    // border: 2px solid black;
  
    p{
      width: 100%;
      text-align: center;
      padding-left: auto;
      // border: 2px solid red;
    }
  }




#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.bmi-logo{
  margin: auto;
  width: 130px;
  height: 130px;
}
